 
 /*div.col-6{
    background-image: url("../img/campo.jpg");
    background-repeat: no-repeat;
    

    
 }


 div.nueva{
    background-image: url("../img/campo2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
 }*/ 